<h1>
    Teachers worked!
</h1>

<body>
    <button(click)="toggleToDisplay()">Click to Toggle</button>
        <div *ngif="isToDisplay">
            <p>Teachers:</p>
            <div *ngFor="let teacher of teachers">
                <ul>
                    <li>teacherId: {{teacher.teacherId}}</li>
                    <li>name: {{teacher.name}}</li>
                    <li>lastname: {{teacher.lastname}}</li>
                    <li>title: {{teacher.title}}</li>
                    <li>age: {{teacher.age}}</li>
                    <li>isFullTime: {{teacher.isFullTime}}</li>
                    <li>updateOn: {{teacher.updateOn}}</li>
                </ul>
            </div>
        </div>
</body>