<h1>
    Teachers Worked!
</h1>
<div>
    <button (click)="toggleToDisplay()">Toggle Button</button>
</div>

<div *ngIf="isToDisplayTeachers">
    <div *ngFor="let teacher of teachers">
        <p>Teachers: </p>
        <ul>
            <li>teacherId: {{teacher.teacherId</li>
            <li>name: {{teacher.name}}</li>
            <li>lastname: {{teacher.lastname}}</li>
            <li>lastname: {{teacher.lastname}}</li>
            <li>age: {{teacher.age}}</li>
            <li>isFullTime: {{teacher.isFullTime}}</li>
            <!-- > <li>updateOn: {{teacher.updateOn}}</li> -->
        </ul>
    </div>
</div>